<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kayıt Ekranı</title>
  <!-- Bootstrap kütüphanesini dahil et -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <!-- Form container -->
  <div class="container mt-5">
    <!-- Form başlığı -->
    <h1>Laborant Kayıt Ekranı</h1>
    <!-- Form -->
    <form>
      <!-- Hasta adı alanı -->
      <div class="form-group">
        <label for="patientFirstName">Ad</label>
        <input type="text" class="form-control" id="patientFirstName" placeholder="Adınızı giriniz">
      </div>
      <!-- Hasta soyadı alanı -->
      <div class="form-group">
        <label for="patientLastName">Soyad</label>
        <input type="text" class="form-control" id="patientLastName" placeholder="Soyadınızı giriniz">
      </div>
      <!-- Hastane kimlik numarası alanı -->
      <div class="form-group">
        <label for="hospitalIdNumber">Hastane Kimlik Numarası</label>
        <input type="text" class="form-control" id="hospitalIdNumber" placeholder="Hastane kimlik numaranızı giriniz">
      </div>
            <!-- Sistem giriş şifresi -->
            <div class="form-group">
              <label for="hospitalIdNumber">Hastane Sistem Şifresi</label>
              <input type="text" class="form-control" id="hospitalIdNumber" placeholder="Hastane sistem şifrenizi giriniz">
            </div>
      <!-- Kaydol butonu -->
      <button type="submit" class="btn btn-primary">Kaydol</button>
    </form>
  </div>
</body>
</html>
