<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laborant Liste</title>
  <!-- Bootstrap kütüphanesini dahil et -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/admin/unconfirmed">Bekleyen Hesaplar</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
  </ul>
  <!-- Form container -->
  <div class="container mt-5">
    <!-- Rapor listesi container -->
    <div class="container mt-5">
      <!-- Rapor listesi başlığı -->
      <h2>Laborantlar</h2>
      <!-- Rapor listesi -->
      <table class="table">
        <!-- Liste başlıkları -->
        <thead>
          <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Laborant Id</th>
          </tr>
        </thead>
        <!-- Liste verileri -->
        <tbody *ngFor="let laborant of laborantArray">
          <tr>
            <td>{{laborant["ad"]}}</td>
            <td>{{laborant["soyad"]}}</td>
            <td>{{laborant["laborantId"]}}</td>
            <td><button class="btn btn-primary" (click)="detail(laborant.laborantId)">İncele</button></td>
          </tr>
        </tbody>
