<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laborant Giriş</title>
  <!-- Bootstrap kütüphanesini dahil et -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <!-- Form container -->
  <div class="container mt-5">
    <!-- Form başlığı -->
    <h1>Laborant Giriş</h1>
    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Hastane kimlik numarası alanı -->
      <div class="form-group">
        <label for="hospitalIdNumber">Hastane Kimlik Numarası</label>
        <input type="text" formControlName="laborant_id" placeholder="Hastane kimlik numaranızı giriniz">
      </div>
      <!-- Şifre alanı -->
      <div class="form-group">
        <label for="password">Şifre</label>
        <input type="password" formControlName="password" placeholder="Şifrenizi giriniz">
      </div>
      <!-- Giriş butonu -->
      <button type="submit" class="btn btn-primary">Giriş</button>
    </form>
  </div>
</body>
</html>
