<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kayıt Ekranı</title>
  <!-- Bootstrap kütüphanesini dahil et -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <!-- Form container -->
  <div class="container mt-5">
    <!-- Form başlığı -->
    <h1>Laborant Kayıt Ekranı</h1>
    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <!-- Hasta adı alanı -->
      <div class="form-group">
        <label for="patientFirstName">Ad</label>
        <div></div>
        <input type="text" formControlName="name" placeholder="Adınızı giriniz">
      </div>
      <!-- Hasta soyadı alanı -->
      <div class="form-group">
        <label for="patientLastName">Soyad</label>
        <div></div>
        <input type="text" formControlName="surname" placeholder="Soyadınızı giriniz">
      </div>
      <!-- Hastane kimlik numarası alanı -->
      <div class="form-group">
        <label for="hospitalIdNumber">Hastane Kimlik Numarası</label>
        <div></div>
        <input type="text" formControlName="laborant_id" placeholder="7 haneli">
      </div>
            <!-- Sistem giriş şifresi -->
            <div class="form-group">
              <label for="hospitalIdNumber">Hastane Sistem Şifresi</label>
              <div></div>
              <input type="text" formControlName="password" placeholder="7 haneli">
            </div>
      <!-- Kaydol butonu -->
      <input type="submit" class="btn btn-primary" value="Register">
    </form>
  </div>
</body>
</html>
